# Matter density
Omegam: 0.31
# Output directory
outputdir: navin_testing/post_catalog.dr72safe9.red
output_dsigma: dsigma_stellar.dat

# Radial bins
rbin: 15
rmax: 5
rmin: 0.01
# Lens configuration (to be used in weaklens_select.py:lens_select)
lens:
  type: navin
  zmax: 0.33
  zmin: 0.1
# Source configuration (to be used in weaklens_select.py:source_select)
source:
  # Blinding related
  blinded: 0
  # Source file related
  type: hsc-wide-s16a_v2.0
  filetype: fits
  format: hsc
  include_corrections: true
  # Photo z related(remove # for next five for not considering full pofz)
  pofz_type: mizuki
  fullpofz: false
  photoz_risk_best_cut: 0.5
  photoz_estimate: _best
  zdiff: 0.0
  # Photo z related
  #pofz_type: mizuki
  #fullpofz: true
  #photoz_risk_best_cut: 0.5
  #integral_cut_zl: 0.33
  #integral_cut_zdiff: 0.0
  #integral_cut_Pth: 0.99
  #integral_cut_zmax: 4.0
 
