lens:
    type: redmapper
    lamdamin: 19.0
    lamdamax: 1000.0
    zmin: 0.1
    zmax: 0.33
    
    # type: cmass
    # zmin: 0.43
    # zmax: 0.70
    
    # type: camira
    # lamdamin: 19.0
    # lamdamax: 1000.0
    # zmin: 0.1
    # zmax: 0.33

source:
    maglim = 25.0
    photoz = DEMP
    fullpofz = True
    pofz_zmin =
    pofz_zdiff = 
    pofz_zbins = 
